---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Blog">
  <div class="bg-beige pt-[13.125rem] text-center pb-[4.625rem]">
    <h2 class="text-[2.8125rem] font-bold text-white underline">Blog</h2>
  </div>


  
</Layout>
