---
import impact1 from "@/assets/images/impact/impact1.png";
import service1 from "@/assets/images/service/service1.png";
import Layout from "../layouts/Layout.astro";
import Impact from "@/components/Impact.astro";
import Service from "@/components/Service.astro";
import Category from "@/components/Category.astro";
import Getintouch from "@/components/Getintouch.astro";

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
];

const serviceData = [
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
];

const categoryData = [
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
];
---

<Layout title="Welcome to Astro.">
  <!--  defaultScreens: ["20rem", theme("screens.lg")],の間（320px-1024px）で、1rem(16px)〜2rem（32px）まで動く -->
  <!-- <div class="~text-[1rem]/[2rem]">Home</div> -->

  <!-- Categories -->
  <Category category={categoryData} />

  <!-- Our Impact -->
  <Impact impact={impactData} />

  <!-- How to get involved(Services) -->
  <Service service={serviceData} />

  <!-- Getintouch -->
  <Getintouch />

  <!-- Partner -->
  <div>Partner</div>
</Layout>
