---
import impact1 from "@/assets/images/impact/impact1.png";
import service1 from "@/assets/images/service/service1.png";
import Layout from "../layouts/Layout.astro";
import Impact from "@/components/Impact.astro";
import Service from "@/components/Service.astro";
import Category from "@/components/Category.astro";
import Getintouch from "@/components/Getintouch.astro";
import Partner from "@/components/Home/Partner.astro";

const impactData = [
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
  {
    title: "D2L.sg Surplus Savers (DSS) trained",
    number: "400+",
    image: impact1,
  },
];

const serviceData = [
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
  {
    title: "Waste Management",
    image: service1,
    description: [
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
      "Cut & Recoup Cost from Food Surplus/Waste",
    ],
    link: "/products",
  },
];

const categoryData = [
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
  {
    title: "Focus on Growing\nYour Business!",

    description:
      "We handle ALL TYPES of your food surplus and waste, effortlessly so that you can focus growing your business!",
  },
];
---

<Layout title="D2L.sg">
  <!--  defaultScreens: ["20rem", theme("screens.lg")],の間（320px-1024px）で、1rem(16px)〜2rem（32px）まで動く -->
  <!-- <div class="~text-[1rem]/[2rem]">Home</div> -->

  <!-- MV -->
  <div class="pt-[13.0rem] pb-[4.3125rem] bg">
    <!-- MV -->
    <div
      class="max-w-[73rem] ~py-[1rem]/[3.125rem] ~px-[1rem]/[4.375rem] mx-auto bg-white rounded-[1.25rem] bg2"
    >
      <!-- Text -->
      <div>
        <h2
          class="~text-[2rem]/[4.0625rem] text-green font-bold leading-[110%]"
        >
          Your One-Stop<br />Food Surplus and<br /> Waste Manager
        </h2>
        <p class="~text-[1rem]/[1.5rem] leading-normal mt-[1.5rem]">
          Co-Creating Circularity with Community
        </p>
        <div class="mt-[1.75rem]">
          <a
            class="py-[0.75rem] px-[1.406rem] bg-orange text-white ~text-[1rem]/[1.5625rem] leading-normal font-bold rounded-[0.5rem] inline-block"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Categories -->
  <Category category={categoryData} />

  <!-- Our Impact -->
  <Impact impact={impactData} />

  <!-- How to get involved(Services) -->
  <Service service={serviceData} />

  <!-- Getintouch -->
  <Getintouch />

  <!-- Partner -->
  <Partner />

  <style>
    .bg {
      background-image: url("/home/mvbg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .bg2 {
      background-image: url("/home/bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</Layout>
