---
import Button from "@/components/Parts/Button.astro";
import Layout from "@/layouts/Layout.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
---

<Layout title="Terms & Conditions | D2L.sg">
  <PageTitleBanner title="Terms & Conditions" bgmv="/terms/mvbg.png" />

  <Section bg="white">
    <nav>
      <ul class="flex gap-x-[0.875rem] items-center">
        <li>
          <Button text="T&C" href="#terms" />
        </li>
        <li>
          <Button text="Privacy" href="#privacy" />
        </li>
        <li>
          <Button text="Cookies" href="#cookies" />
        </li>
      </ul>
    </nav>
  </Section>

  <!-- Terms -->
  <Section bg="white" id="terms">
    <SectionTitle color="green" textalign="left">
      Terms & Conditons
    </SectionTitle>

    <div class="mt-[2rem]">
      <p>
        This website is operated by D2L.sg ("D2L.sg"). By accessing and using
        this website, you agree to be bound by the following terms and
        conditions of use ("Terms"). Please read them carefully before using the
        website. If you do not agree with any part of these Terms, your sole and
        exclusive remedy is to discontinue using this website.
      </p>
      <ul class="mt-[1rem] flex flex-col gap-y-[1rem]">
        <li>
          <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
          <p class="mt-[1rem]">
            For simplicity and convenience, terms like "D2L.sg," "our," "we,"
            and "us" are used throughout this document to refer to D2L.sg and
            its affiliates. The terms "you" and "your" refer to any users or
            visitors of this website.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Third-Party Links and Content</h4>
          <p class="mt-[1rem]">
            This website may contain links to external websites ("External
            Sites"). D2L.sg is not responsible for the content, products, or
            services on these External Sites and does not guarantee or assume
            any liability for their actions. Any use of External Sites is at
            your own risk. The inclusion of any links does not imply endorsement
            by D2L.sg.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Intellectual Property Rights</h4>
          <p class="mt-[1rem]">
            All content, including text, graphics, logos, images, and software,
            provided on this website is the property of D2L.sg and/or its
            licensors and is protected by intellectual property laws. You may
            not reproduce, distribute, publish, or transmit any material from
            this website without prior written permission from D2L.sg.
            Unauthorized use of any material may violate copyright, trademark,
            and other laws.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Restrictions on Use</h4>
          <p class="mt-[1rem]">
            You agree not to use this website for any illegal or unauthorized
            purposes. You further agree not to:
          </p>
          <ul class="mt-[1rem] px-[0.2rem]">
            <li class="list-['-'] pl-[0.3125rem]">
              Post or transmit any unlawful, harmful, threatening, abusive,
              defamatory, or otherwise objectionable material.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Use the website to distribute spam or other unsolicited
              promotional material.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Upload or distribute any viruses, malware, or other harmful
              software.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Interfere with the operation or security of this website or
              attempt to gain unauthorized access to D2L.sg’s systems.
            </li>
          </ul>
        </li>

        <li>
          <h4 class="text-orange font-bold">Disclaimer of Warranties</h4>
          <p class="mt-[1rem]">
            The information provided on this website is for general information
            purposes only. D2L.sg makes no representations or warranties of any
            kind, express or implied, regarding the accuracy, completeness,
            reliability, suitability, or availability of the website or the
            information contained on the website. Any reliance you place on such
            information is strictly at your own risk.
          </p>
          <p class="mt-[1rem]">
            This website is provided on an "as is" and "as available" basis
            without any warranties of any kind. D2L.sg does not warrant that the
            website will be uninterrupted, secure, or free of errors or viruses.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Limitation of Liability</h4>
          <p class="mt-[1rem]">
            To the fullest extent permitted by law, D2L.sg shall not be liable
            for any direct, indirect, incidental, special, or consequential
            damages, including but not limited to loss of profits, revenue,
            data, or use, arising out of or in any way connected with the use or
            inability to use this website, whether based on contract, tort,
            negligence, strict liability, or otherwise.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Indemnification</h4>
          <p class="mt-[1rem]">
            You agree to indemnify, defend, and hold harmless D2L.sg, its
            affiliates, officers, directors, employees, agents, and licensors
            from and against any and all claims, damages, losses, costs, or
            expenses (including reasonable legal fees) arising from or related
            to your use of this website or violation of these Terms.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Changes to the Terms</h4>
          <p class="mt-[1rem]">
            D2L.sg reserves the right to modify or update these Terms at any
            time without prior notice. Your continued use of the website after
            any changes signifies your acceptance of the revised Terms. It is
            your responsibility to review these Terms periodically.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Changes to Website</h4>
          <p class="mt-[1rem]">
            D2L.sg may change, suspend, or discontinue any aspect of the website
            at any time, including the availability of any feature, database, or
            content, without prior notice.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Governing Law and Jurisdiction</h4>
          <p class="mt-[1rem]">
            These Terms are governed by and construed in accordance with the
            laws of the Republic of Singapore. Any disputes arising from or
            relating to the use of this website shall be subject to the
            exclusive jurisdiction of the courts of the Republic of Singapore.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Contact Information</h4>
          <p class="mt-[1rem]">
            If you have any questions or concerns about these Terms, please
            contact us at [insert contact information].
          </p>
        </li>
      </ul>
    </div>
  </Section>
  <!-- PP -->
  <Section bg="white" id="privacy">
    <SectionTitle color="green" textalign="left"> Privacy Policy </SectionTitle>

    <div class="mt-[2rem]"></div>
  </Section>
  <!-- Cookies -->
  <Section bg="white" id="cookies">
    <SectionTitle color="green" textalign="left">Cookies Policy</SectionTitle>

    <div class="mt-[2rem]">
      <p>
        We use cookies to enhance your experience on https://d2l.sg. This Cookie
        Policy is part of D2L.sg’s Privacy Policy and provides information about
        the use of cookies between your device and our site. It also includes
        details about third-party services that may use cookies as part of their
        operations, though these third-party services are not covered by our
        policy.
      </p>
      <p>
        If you do not wish to accept cookies from us, you can instruct your
        browser to refuse cookies from https://d2l.sg. However, this may affect
        your ability to use certain features and services on our website.
      </p>
    </div>
  </Section>
</Layout>
