---
import Button from "@/components/Parts/Button.astro";
import Layout from "@/layouts/Layout.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
---

<Layout title="Terms & Conditions | D2L.sg">
  <PageTitleBanner title="Terms & Conditions" bgmv="/terms/mvbg.png" />

  <Section bg="white">
    <nav>
      <ul class="flex gap-x-[0.875rem] items-center">
        <li>
          <Button text="T&C" href="#terms" />
        </li>
        <li>
          <Button text="Privacy" href="#privacy" />
        </li>
        <li>
          <Button text="Cookies" href="#cookies" />
        </li>
      </ul>
    </nav>
  </Section>

  <!-- Terms -->
  <Section bg="white" id="terms">
    <SectionTitle color="green" textalign="left">
      Terms & Conditons
    </SectionTitle>

    <div class="mt-[2rem]">
      <p>
        This website is operated by D2L.sg ("D2L.sg"). By accessing and using
        this website, you agree to be bound by the following terms and
        conditions of use ("Terms"). Please read them carefully before using the
        website. If you do not agree with any part of these Terms, your sole and
        exclusive remedy is to discontinue using this website.
      </p>
      <ul class="mt-[1rem] flex flex-col gap-y-[1rem]">
        <li>
          <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
          <p class="mt-[1rem]">
            For simplicity and convenience, terms like "D2L.sg," "our," "we,"
            and "us" are used throughout this document to refer to D2L.sg and
            its affiliates. The terms "you" and "your" refer to any users or
            visitors of this website.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Third-Party Links and Content</h4>
          <p class="mt-[1rem]">
            This website may contain links to external websites ("External
            Sites"). D2L.sg is not responsible for the content, products, or
            services on these External Sites and does not guarantee or assume
            any liability for their actions. Any use of External Sites is at
            your own risk. The inclusion of any links does not imply endorsement
            by D2L.sg.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Intellectual Property Rights</h4>
          <p class="mt-[1rem]">
            All content, including text, graphics, logos, images, and software,
            provided on this website is the property of D2L.sg and/or its
            licensors and is protected by intellectual property laws. You may
            not reproduce, distribute, publish, or transmit any material from
            this website without prior written permission from D2L.sg.
            Unauthorized use of any material may violate copyright, trademark,
            and other laws.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Restrictions on Use</h4>
          <p class="mt-[1rem]">
            You agree not to use this website for any illegal or unauthorized
            purposes. You further agree not to:
          </p>
          <ul class="mt-[1rem] px-[0.2rem]">
            <li class="list-['-'] pl-[0.3125rem]">
              Post or transmit any unlawful, harmful, threatening, abusive,
              defamatory, or otherwise objectionable material.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Use the website to distribute spam or other unsolicited
              promotional material.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Upload or distribute any viruses, malware, or other harmful
              software.
            </li>
            <li class="list-['-'] pl-[0.3125rem]">
              Interfere with the operation or security of this website or
              attempt to gain unauthorized access to D2L.sg’s systems.
            </li>
          </ul>
        </li>

        <li>
          <h4 class="text-orange font-bold">Disclaimer of Warranties</h4>
          <p class="mt-[1rem]">
            The information provided on this website is for general information
            purposes only. D2L.sg makes no representations or warranties of any
            kind, express or implied, regarding the accuracy, completeness,
            reliability, suitability, or availability of the website or the
            information contained on the website. Any reliance you place on such
            information is strictly at your own risk.
          </p>
          <p class="mt-[1rem]">
            This website is provided on an "as is" and "as available" basis
            without any warranties of any kind. D2L.sg does not warrant that the
            website will be uninterrupted, secure, or free of errors or viruses.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Limitation of Liability</h4>
          <p class="mt-[1rem]">
            To the fullest extent permitted by law, D2L.sg shall not be liable
            for any direct, indirect, incidental, special, or consequential
            damages, including but not limited to loss of profits, revenue,
            data, or use, arising out of or in any way connected with the use or
            inability to use this website, whether based on contract, tort,
            negligence, strict liability, or otherwise.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Indemnification</h4>
          <p class="mt-[1rem]">
            You agree to indemnify, defend, and hold harmless D2L.sg, its
            affiliates, officers, directors, employees, agents, and licensors
            from and against any and all claims, damages, losses, costs, or
            expenses (including reasonable legal fees) arising from or related
            to your use of this website or violation of these Terms.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Changes to the Terms</h4>
          <p class="mt-[1rem]">
            D2L.sg reserves the right to modify or update these Terms at any
            time without prior notice. Your continued use of the website after
            any changes signifies your acceptance of the revised Terms. It is
            your responsibility to review these Terms periodically.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Changes to Website</h4>
          <p class="mt-[1rem]">
            D2L.sg may change, suspend, or discontinue any aspect of the website
            at any time, including the availability of any feature, database, or
            content, without prior notice.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Governing Law and Jurisdiction</h4>
          <p class="mt-[1rem]">
            These Terms are governed by and construed in accordance with the
            laws of the Republic of Singapore. Any disputes arising from or
            relating to the use of this website shall be subject to the
            exclusive jurisdiction of the courts of the Republic of Singapore.
          </p>
        </li>

        <li>
          <h4 class="text-orange font-bold">Contact Information</h4>
          <p class="mt-[1rem]">
            If you have any questions or concerns about these Terms, please
            contact us at [insert contact information].
          </p>
        </li>
      </ul>
    </div>
  </Section>
  <!-- PP -->
  <Section bg="white" id="privacy">
    <SectionTitle color="green" textalign="left"> Privacy Policy </SectionTitle>

    <div class="mt-[2rem]">
      <ul class="mt-[1rem] flex flex-col gap-y-[1rem]">
        <li>
          <h4 class="text-orange font-bold">Introduction</h4>
          <p class="mt-[1rem]">
            D2L.sg is committed to respecting your privacy and ensuring the
            security of your Personal Information. We strive to treat your data
            with the utmost care and have implemented robust protocols to ensure
            its confidentiality. This Privacy policy outlines how we collect,
            use, disclose, and safeguard your information. By using our
            services, you consent to the data practices described in this
            policy.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">
            Collection of Personal Information
          </h4>
          <p class="mt-[1rem]">
            We collect Personal Information to provide better services to all
            our users. Personal Information refers to any data that can identify
            you as an individual. This includes, but is not limited to, your
            name, contact details, employment information, educational
            background, billing and payment information, and other relevant
            details related to your use of our products, services, websites, or
            job applications. We collect this information when you:
            <br />
            Register or interact with our website
            <br />
            Use our products or services
            <br />
            Communicate with us via email, phone, or other means
            <br />
            Participate in our surveys or promotions
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Use of Personal Information</h4>
          <p class="mt-[1rem]">
            By providing your Personal Information to D2L.sg, you consent to the
            following uses:
            <br />
            Collection, Retention, and Disclosure: We may collect, retain, use, and
            disclose your Personal Information for our records and those of our affiliates.

            <br />
            Communication: We may contact you via telephone, email, or other means
            to inform you about products, services, and updates that may interest
            you.

            <br />
            Service Improvement: We use your information to enhance our services,
            verify compliance with our policies, and meet legal obligations.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Sharing Personal Information</h4>
          <p class="mt-[1rem]">
            We may share your Personal Information with:
            <br />
            Affiliates and partners for business purposes
            <br />
            Regulatory authorities
            <br />
            Lawyers, accountants, auditors, or other advisors
            <br />
            Third-party service provider who assist in our operations
            <br />
            Agents acting on our behalf
            <br />
            We do not sell or disclose your Personal Information to third parties
            for their marketing purposes without your explicit consent.
          </p>
          <p class="mt-[1rem]">
            In certain situations, we may use or disclose your Personal
            Information without your consent, such as when required by law, for
            research or statistical purposes, or in emergencies that threaten
            life, health, or security.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Data Security</h4>
          <p class="mt-[1rem]">
            D2L.sg employs industry-standard practices to safeguard your
            Personal Information from unauthorized access, use, or disclosure.
            While we strive to protect your data, we cannot guarantee absolute
            security due to inherent limitations in current technology. We will
            take all reasonable steps to protect your data from misuse, loss,
            unauthorized access, modification, or disclosure.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Respecting Your Choice</h4>
          <p class="mt-[1rem]">
            We comply with the Do Not Call (DNC) provisions under the Personal
            Data Protection Act. If you have registered your Singapore telephone
            number with the national DNC Registry, we will refrain from sending
            you marketing messages unless expressly allowed by law or if you
            have given us prior consent.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">
            Access and Correction of Personal Information
          </h4>
          <p class="mt-[1rem]">
            You have the right to request details about your Personal
            Information held by D2L.sg and to correct any inaccuracies. If you
            wish to review or update your information, please contact us at
            hello@d2l.sg .
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Record Retention</h4>
          <p class="mt-[1rem]">
            Your Personal Information will be retained only as long as necessary
            for the purposes outlined in this policy as required by law. Once
            your data is no longer needed, or if you request deregistration, we
            will securely destroy or de-identify your information.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Amendments</h4>
          <p class="mt-[1rem]">
            D2L.sg reserves the right to amend this Privacy Policy from time to
            time. Your continued use of our services after the changes have been
            made constitutes your acceptance of the revised policy.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Opting Out</h4>
          <p class="mt-[1rem]">
            You may opt out of receiving marketing communications from D2L.sg by
            contacting us at hello@d2l.sg. Please note that you may still
            receive non-marketing communications, such as service updates and
            legal notices.
          </p>
        </li>
        <li>
          <h4 class="text-orange font-bold">Contact Us</h4>
          <p class="mt-[1rem]">
            If you have any questions or concerns about this Privacy Policy or
            our data practices, please contact us at hello@d2l.sg. Thank you for
            trusting D2L.sg with your Personal Information. We are committed to
            protecting your privacy and providing you with the highest level of
            service.
          </p>
        </li>
      </ul>
    </div>
    <!-- Cookies -->
    <Section bg="white" id="cookies">
      <SectionTitle color="green" textalign="left">Cookies Policy</SectionTitle>

      <div class="mt-[2rem]">
        <p>
          We use cookies to enhance your experience on https://d2l.sg. This
          Cookie Policy is part of D2L.sg’s Privacy Policy and provides
          information about the use of cookies between your device and our site.
          It also includes details about third-party services that may use
          cookies as part of their operations, though these third-party services
          are not covered by our policy.
        </p>
        <p class="mt-[1rem]">
          If you do not wish to accept cookies from us, you can instruct your
          browser to refuse cookies from https://d2l.sg. However, this may
          affect your ability to use certain features and services on our
          website.
        </p>

        <ul class="mt-[1rem] flex flex-col gap-y-[1rem]">
          <li>
            <h4 class="text-orange font-bold">About a Cookie</h4>
            <p class="mt-[1rem]">
              A cookie is a small piece of data that a website stores on your
              device when you visit. It typically contains information about the
              website itself, a unique identifier that enables the site to
              recognize your browser upon returning, additional data serving the
              purpose of the cookie, and the cookie’s lifespan.
            </p>
            <p class="mt-[1rem]">
              Cookies are used to enable certain functionalities (e.g., logging
              in), track site usage (e.g., analytics), store user settings
              (e.g., timezone, notification preferences), and personalize
              content (e.g., advertising, language preferences).
            </p>
            <p class="mt-[1rem]">
              Cookies set by the website you are visiting are called
              "first-party cookies" and usually only track your activity on that
              specific site. Cookies set by other sites or companies (i.e.,
              third parties) are termed "third-party cookies" and can track you
              across multiple sites using the same third-party service.
            </p>
          </li>

          <li>
            <h4 class="text-orange font-bold">
              Types of Cookies and How We Use Them
            </h4>
            <ol class="mt-[1rem] list-decimal">
              <li class="mt-[1rem]">
                1. Essential Cookies

                <p>
                  Essential cookies are crucial for the operation of our
                  website, enabling core functionalities such as user logins,
                  account management, shopping carts, and payment processing. We
                  use essential cookies to enable these functionalities on our
                  website.
                </p>
              </li>
              <li class="mt-[1rem]">
                2. Performance Cookies

                <p>
                  Performance cookies track how you use our website during your
                  visit, without collecting personally identifiable information.
                  This information is typically anonymous and aggregated,
                  helping us understand visitor usage patterns, diagnose issues,
                  and make strategic decisions to enhance overall website
                  experience. These cookies may be set by our website
                  (first-party) or by third-party services. We use performance
                  cookies to improve our site.
                </p>
              </li>
              <li class="mt-[1rem]">
                3. Functionality Cookies

                <p>
                  Functionality cookies collect information about your device
                  and any settings you configure on our website (e.g., language
                  and timezone settings). This information allows us to provide
                  customized, enhanced, or optimized content and services. These
                  cookies may be set by our website (first-party) or by
                  third-party services. We use functionality cookies for
                  selected features on our site.
                </p>
              </li>
              <li class="mt-[1rem]">
                4. Targeting/Advertising Cookies

                <p>
                  Targeting/advertising cookies are used to determine what
                  promotional content is more relevant to you and your
                  interests. They help us deliver targeted advertising and limit
                  the number of times you see an ad, enhancing the effectiveness
                  of our marketing campaigns and the quality of the content you
                  see. These cookies may be set by our website (first-party) or
                  by third-party services. Targeting/advertising cookies set by
                  third parties may track you on other websites that use the
                  same third-party service. We use targeting/advertising cookies
                  to deliver relevant promotional content.
                </p>
              </li>
            </ol>
          </li>

          <li>
            <h4 class="text-orange font-bold">
              Third-Party Cookies on Our Site
            </h4>
            <p class="mt-[1rem]">
              We may engage third-party companies and individuals on our website
              for various services, such as analytics providers and content
              partners. These third parties may set cookies on your device to
              deliver their services. As we have no control over third-party
              cookies, they are not covered by D2L.sg’s Cookie Policy.
            </p>
          </li>

          <li>
            <h4 class="text-orange font-bold">
              Our Third-Party Privacy Promise
            </h4>
            <p class="mt-[1rem]">
              We review the privacy policies of all our third-party providers to
              ensure their practices align with ours. We will never knowingly
              include third-party services that compromise or violate the
              privacy of our users.
            </p>
          </li>

          <li>
            <h4 class="text-orange font-bold">
              How You Can Control or Opt-Out of Cookies
            </h4>
            <p class="mt-[1rem]">
              If you do not wish to accept cookies from us, you can instruct
              your browser to refuse cookies from our website. Most browsers are
              set to accept cookies by default, but you can update these
              settings to refuse cookies altogether or to notify you when a
              website is trying to set or update a cookie.
            </p>
            <p class="mt-[1rem]">
              If you access our website from multiple devices, you may need to
              update your settings on each device individually.
            </p>
            <p class="mt-[1rem]">
              Please note that blocking all cookies may impact your experience
              and limit access to certain features and content on our site.
            </p>
          </li>
        </ul>
      </div>
    </Section>
  </Section>
</Layout>
