---
import Button from "@/components/Parts/Button.astro";
import Layout from "@/layouts/Layout.astro";
import PageTitleBanner from "@/components/Parts/PageTitleBanner.astro";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";
---

<Layout title="Terms & Conditions | D2L.sg">
  <PageTitleBanner title="Terms & Conditions" bgmv="/terms/mvbg.png" />

  <Section bg="white">
    <nav>
      <ul class="flex gap-x-[0.875rem] items-center">
        <li>
          <Button text="T&C" href="#terms" />
        </li>
        <li>
          <Button text="Privacy" href="#privacy" />
        </li>
        <li>
          <Button text="Cookies" href="#cookies" />
        </li>
      </ul>
    </nav>
  </Section>

  <!-- Terms -->
  <Section bg="white" id="terms">
    <SectionTitle color="green" textalign="left">
      Terms & Conditons
    </SectionTitle>
    <p>
      This website is operated by D2L.sg ("D2L.sg"). By accessing and using this
      website, you agree to be bound by the following terms and conditions of
      use ("Terms"). Please read them carefully before using the website. If you
      do not agree with any part of these Terms, your sole and exclusive remedy
      is to discontinue using this website.
    </p>
    <ul class="mt-[1rem] flex flex-col gap-y-[1rem]">
      <li>
        <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
        <p class="mt-[1rem]">
          For simplicity and convenience, terms like "D2L.sg," "our," "we," and
          "us" are used throughout this document to refer to D2L.sg and its
          affiliates. The terms "you" and "your" refer to any users or visitors
          of this website.
        </p>
      </li>
      <li>
        <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
        <p class="mt-[1rem]">
          For simplicity and convenience, terms like "D2L.sg," "our," "we," and
          "us" are used throughout this document to refer to D2L.sg and its
          affiliates. The terms "you" and "your" refer to any users or visitors
          of this website.
        </p>
      </li>
      <li>
        <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
        <p class="mt-[1rem]">
          For simplicity and convenience, terms like "D2L.sg," "our," "we," and
          "us" are used throughout this document to refer to D2L.sg and its
          affiliates. The terms "you" and "your" refer to any users or visitors
          of this website.
        </p>
      </li>
      <li>
        <h4 class="text-orange font-bold">Use of Terms and Definitions</h4>
        <p class="mt-[1rem]">
          For simplicity and convenience, terms like "D2L.sg," "our," "we," and
          "us" are used throughout this document to refer to D2L.sg and its
          affiliates. The terms "you" and "your" refer to any users or visitors
          of this website.
        </p>
      </li>
    </ul>
  </Section>

  <!-- PP -->
  <Section bg="white" id="privacy">
    <SectionTitle color="green" textalign="left"> Privacy Policy </SectionTitle>
  </Section>

  <!-- Cookies -->
  <Section bg="white" id="cookies">
    <SectionTitle color="green" textalign="left">Cookies Policy</SectionTitle>
  </Section>
</Layout>
