---
import { Image } from "astro:assets";
import Inner from "./Parts/Inner.astro";
import footerlogo from "@/assets/images/footerlogo.png";
---

<footer
  class="text-white bg-green ~px-[1rem]/[5rem] ~py-[1.5625rem]/[3.75rem] text-[0.75rem]"
>
  <Inner>
    <!-- Flex -->
    <div
      class="flex pb-[1.5626rem] md:pb-[4.93rem] justify-between xl:w-[85%] w-full flex-col gap-y-[1.5625rem] md:flex-row"
    >
      <!-- Logo -->
      <div class="m-auto md:m-0">
        <a href="/">
          <Image src={footerlogo} alt="D2L.sg" width={111} height={49} />
        </a>
      </div>
      <!-- Text -->
      <div class="md:max-w-[20.3125rem]">
        <p>
          D2L.sg is a holistic, one-stop, end-to-end food surplus and waste
          management social enterprise; managing ALL TYPES of food surplus and
          waste via proprietary smart-matching AI technology, ensuring that food
          surplus and waste are matched to their best 2nd life quickly and
          efficiently.
        </p>
      </div>

      <!-- Links Wrapper -->
      <div class="flex gap-x-[3.625rem] flex-col gap-y-[1.5625rem] md:flex-row">
        <!-- Relevant links -->
        <div>
          <p class="font-bold uppercase">Relevant Links</p>
          <nav>
            <ul class="mt-[1rem] two-column-list">
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About Us</a></li>
              <li><a href="/services/">Our Services</a></li>
              <li><a href="/dss/">Join as a DSS</a></li>
              <li><a href="/education/">About Food Waste</a></li>
              <li><a href="/blog/">Blog & Media</a></li>
            </ul>
          </nav>
        </div>
        <!-- Contact us -->
        <div>
          <p class="font-bold uppercase">Contact us</p>
          <ul class="mt-[1rem]">
            <a href="mailto:hello@d2l.sg">hello@d2l.sg</a>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copy -->
    <div>
      <!-- Links -->
      <div class="pt-[1rem] border-t opacity-50 leading-normal">
        <ul class="flex gap-x-[1rem] items-center">
          <li><a href="/">Accessibility</a></li>
          <span class="w-[0.0625rem] h-[0.75rem] bg-white block"></span>
          <li><a href="/terms/">Terms of Service</a></li>
          <span class="w-[0.0625rem] h-[0.75rem] bg-white block"></span>
          <li><a href="/terms/#privacy">Privacy Policy</a></li>
          <span class="w-[0.0625rem] h-[0.75rem] bg-white block"></span>
          <li><a href="/terms/#cookies">Cookie Policy</a></li>
        </ul>
        <!-- Copyright -->
        <p class="mt-[0.3rem]">
          Copyright © 2024 D2L.sg — All Rights Reserved. Protected by reCAPTCHA
          the <a class="underline" href="/">Google Privacy Policy</a> and
          <a class="underline" href="/">Terms of Service</a> apply.
        </p>
      </div>
    </div>
  </Inner>
</footer>
<div class="text-white bg-green text-[1rem] font-bold py-[1.5rem] belt">
  <span>
    ♥ Transform Waste, Transform Lives ♥ START YOUR FREE TRIAL TODAY ♥
    Transform Waste, Transform Lives ♥ START YOUR FREE TRIAL TODAY ♥
  </span>
</div>

<style>
  .two-column-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.2rem;
  }
</style>
