---
import { Image } from "astro:assets";
import Inner from "./Inner.astro";
import service1 from "@/assets/images/service/service1.png";
---

<div class="bg-white ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem]">
  <Inner>
    <div
      class="flex items-center gap-x-[7.125rem] max-w-[73rem] mx-auto justify-center"
    >
      <!-- Image -->
      <div class="w-[38%]">
        <Image src={service1} alt="impact" />
      </div>
      <!-- Text -->
      <div>
        <h3 class="text-[2.8125rem] text-green leading-none font-bold">
          Get in touch today!
        </h3>
        <p class="mt-[2rem] text-[1.25rem]">
          Ready to make real impact?
          <br />Join us in building a zero-waste Singapore.
        </p>
        <div class="mt-[2rem]">
          <a
            href="/education"
            class="inline-block bg-white text-green ~px-[1.25rem]/[2.5rem] ~py-[0.625rem]/[1.25rem] rounded-full font-bold border-[0.1875rem] border-green2"
          >
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </Inner>
</div>
