---
import { Image } from "astro:assets";
import service1 from "@/assets/images/service/service1.png";
import Button from "./Parts/Button.astro";
import Section from "./Parts/Section.astro";
---

<Section bg="beige">
  <div
    class="flex items-center gap-x-[7.125rem] max-w-[73rem] mx-auto justify-center"
  >
    <!-- Image -->
    <div class="w-[38%]">
      <Image src={service1} alt="impact" />
    </div>
    <!-- Text -->
    <div>
      <h3 class="text-[2.8125rem] text-green leading-none font-bold">
        Get in touch today!
      </h3>
      <p class="mt-[2rem] text-[1.25rem]">
        Ready to make real impact?
        <br />Join us in building a zero-waste Singapore.
      </p>
      <div class="mt-[2rem]">
        <Button text="Contact Us" href="/contact" />
      </div>
    </div>
  </div>
</Section>
