---
import { Image } from "astro:assets";
---

<div class="text-white bg-orange">header belt</div>
<!-- Menu -->
<nav>
  <ul class="flex gap-x-4">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/services">Our Services</a>
    </li>
    <li>
      <a href="/dss">DSS</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>

    <li>
      <a href="/education">Education</a>
    </li>

    <li>
      <a href="/terms">terms</a>
    </li>
  </ul>
</nav>
