---
import { Image } from "astro:assets";
import headerlogo from "../assets/images/headerlogo.png";

const pathname = Astro.url.pathname;
console.log(pathname);
---

<div class="text-white bg-orange text-[1rem] font-bold py-[1.5rem] belt">
  <span>
    ♥ Transform Waste, Transform Lives ♥ START YOUR FREE TRIAL TODAY ♥
    Transform Waste, Transform Lives ♥ START YOUR FREE TRIAL TODAY ♥
  </span>
</div>
<!-- Header -->
<div
  class="py-[1.25rem] px-[1rem] fixed bg-white z-50 drop-shadow-md rounded-[1.25rem] w-[97.2%] max-w-full top-[4.5rem] left-2/4 translate-x-[-50%]"
>
  <div
    class="flex items-center justify-between max-w-[85.375rem] mx-auto w-full"
  >
    <!-- Logo -->
    <div class="shrink-0">
      <a href="/">
        <Image src={headerlogo} alt="D2L Singapore" width="78" height="110" />
      </a>
    </div>
    <div class="shrink w-[90.48%]">
      <!-- Top Buttons -->
      <div class="text-right">
        <nav
          class="bg-beige inline-block rounded-full py-[0.1875rem] px-[0.25rem] drop-shadow-md"
        >
          <ul class="flex itens-center gap-x-[0.5rem] bold text-[0.75rem]">
            <li>
              <a
                href="/"
                class="inline-block text-white bg-orange px-[1rem] py-[0.5rem] rounded-full font-bold border-[0.1875rem] border-orange"
              >
                For Businesses
              </a>
            </li>
            <li>
              <a
                href="/"
                class="inline-block text-text hover:text-white hover:bg-orange px-[1rem] py-[0.5rem] rounded-full font-bold border-[0.1875rem] border-beige hover:border-orange hover:transition-all duration-300"
              >
                Join Community
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Menu -->
      <nav class="mt-[0.5625rem] text-center">
        <ul class="flex items-center justify-between">
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/" && "text-white bg-green border-green"}`}
          >
            <a href="/" class="~py-[0.625rem]/[0.75rem] block">Home</a>
          </li>
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/about" && "text-white bg-green border-green"}`}
          >
            <a href="/about" class="~py-[0.625rem]/[0.75rem] block">About Us</a>
          </li>
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/services" && "text-white bg-green border-green"}`}
          >
            <a href="/services" class="~py-[0.625rem]/[0.75rem] block"
              >Our Services</a
            >
          </li>
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/dss" && "text-white bg-green border-green"}`}
          >
            <a href="/dss" class="~py-[0.625rem]/[0.75rem] block">DSS</a>
          </li>
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/education" && "text-white bg-green border-green"}`}
          >
            <a href="/education" class="~py-[0.625rem]/[0.75rem] block">Food Waste 101</a
            >
          </li>
          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/blog" && "text-white bg-green border-green"}`}
          >
            <a href="/blog" class="~py-[0.625rem]/[0.75rem] block"
              >Blog & Media</a
            >
          </li>

          <li
            class={`shrink w-[9.5625rem] hover:text-white hover:border-green3 hover:bg-green3 text-text rounded-full border-[0.1875rem] border-white hover:transition-all duration-300 ${pathname == "/contact" && "text-white bg-green border-green"}`}
          >
            <a href="/contact" class="~py-[0.625rem]/[0.75rem] block"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <style is:global>
    .belt {
      overflow: hidden;
      position: relative;
      white-space: nowrap;
    }

    .belt span {
      display: inline-block;
      padding-left: 100%;
      animation: belt 30s linear infinite;
    }

    @keyframes belt {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  </style>
</div>
