---
import { Image } from "astro:assets";
import mv from "@/assets/images/mv.png";
---

<div class="text-white bg-orange">header belt</div>
<div class="bg-beige pt-[8.5rem] pb-[4.3125rem]">
  <!-- Menu -->
  <nav>
    <ul class="flex gap-x-4">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/dss">DSS</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <li>
        <a href="/products">products</a>
      </li>
      <li>
        <a href="/terms">terms</a>
      </li>
    </ul>
  </nav>

  <!-- MV -->
  <div
    class="flex max-w-[73rem] py-[3.125rem] px-[4.375rem] justify-between mx-auto align-middle bg-white rounded-[1.25rem]"
  >
    <!-- Text -->
    <div>
      <h2 class="text-[4.0625rem] text-green font-bold leading-[110%]">
        Your One-Stop<br />Food Surplus and<br /> Waste Manager
      </h2>
      <p class="text-[1.5rem] leading-normal mt-[1.5rem]">
        Co-Creating Circularity with Community
      </p>
      <div class="mt-[1.75rem]">
        <a
          class="py-[0.75rem] px-[1.406rem] bg-orange text-white text-[1.5625rem] leading-normal font-bold rounded-[0.5rem]"
          >Get Started</a
        >
      </div>
    </div>
    <!-- Image -->
    <div>
      <Image src={mv} alt="D2L" width={336} height={326} />
    </div>
  </div>
</div>
