---
import { Image } from "astro:assets";
import service1 from "@/assets/images/service/service1.png";
import Section from "@/components/Parts/Section.astro";
import SectionTitle from "@/components/Parts/SectionTitle.astro";

const { service } = Astro.props;
---

<Section bg="bg" text="white">
  <SectionTitle textalign="center" color="white">
    How to get involved?
  </SectionTitle>
  <!-- Cards -->
  <div
    class="max-w-[57.75rem] mx-auto mt-[1.25rem] flex flex-col ~gap-y-[2rem]/[5rem]"
  >
    <!-- Card -->
    {
      service.map((item: any) => (
        <div class="rounded-[1.25rem] overflow-hidden w-full">
          <div class="bg-white ~py-[0.9375rem]/[2rem] ~px-[0.9375rem]/[2.1875rem]">
            <div class="flex items-center gap-[2.75rem] md:flex-row flex-col-reverse">
              {/* Text */}
              <div class="md:w-[53.27%]">
                <h3 class="text-green2 italic font-bold leading-none text-[2.8125rem]">
                  {item.title}
                </h3>
                <ul class="text-text mt-[1rem] text-[1.25rem] leading-normal px-[1rem]">
                  {item.description.map((desc: any) => (
                    <li class="list-['✓']">{desc}</li>
                  ))}
                </ul>
              </div>
              {/* Image */}
              <div class="inline text-text">
                <Image src={service1} alt="Waste Management" />
              </div>
            </div>
          </div>
          <a
            href="/products"
            class="bg-green py-[0.625rem] px-[1.125rem] text-right text-[1.25rem] leading-normal italic block"
          >
            Learn more...
          </a>
        </div>
      ))
    }
  </div>
</Section>
