---
import { Image } from "astro:assets";
import instagram from "@/assets/images/instagram.png";
import facebook from "@/assets/images/facebook.png";
import linkedin from "@/assets/images/linkedin.png";
import tiktok from "@/assets/images/tiktok.png";
import Section from "./Parts/Section.astro";
---

<!-- Social Media -->
<Section bg="white">
  <p class="text-green2 text-[1.875rem] font-bold text-center">
    Follow us on Social Media!
  </p>
  <div
    class="flex items-center max-w-[30rem] justify-between mx-[auto] mt-[2rem]"
  >
    <a href="https://www.instagram.com/d2l.sg/?hl=en" target="_blank">
      <Image src={instagram} alt="Instagram" width={50} height={50} />
    </a>
    <a target="_blank" href="https://www.facebook.com/D2L.sg">
      <Image src={facebook} alt="Facebook" width={50} height={50} />
    </a>
    <a target="_blank" href="https://www.linkedin.com/company/d2lsg/">
      <Image src={linkedin} alt="LinkedIn" width={50} height={50} />
    </a>
    <a
      target="_blank"
      href="https://www.tiktok.com/@d2l.sg?_t=8n9wjyZ71Hd&_r=1"
    >
      <Image src={tiktok} alt="TikTok" width={50} height={50} />
    </a>
  </div>
</Section>
