---
import Inner from "./Inner.astro";

interface Props {
  bg: string;
  text?: string;
  id?: string;
  bgimagepath?: string;
}
const { bg, text, id, bgimagepath } = Astro.props;
const bgurl = `url(${bgimagepath})`;
---

<section
  class=`bg-${bg} ~px-[1rem]/[5rem] ~py-[3rem]/[3.75rem] ${text === "white"?
  "text-white":"text-text"}`
  id={id}
>
  <Inner>
    <slot />
  </Inner>
</section>
<style define:vars={{ bgurl }}>
  .bg-bg {
    /* background-image: url("/home/bg2.png"); */
    background-image: var(--bgurl);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
