---
interface Props {
  textalign: "center" | "left" | "right";
  color: string;
}

const { textalign, color } = Astro.props;
---

<h3
  class=`~text-[2rem]/[2.8125rem] leading-normal font-bold ${textalign === "center"
? "text-center" : textalign === "left" ? "text-left" : "text-right"} text-${color
}`
>
  <slot />
</h3>
