---
// Supports weights 400-700
import "@fontsource-variable/arimo/wght-italic.css";
// Supports weights 400-700
import "@fontsource-variable/arimo";
import Footer from "@/components/Footer.astro";
import Basehead from "./Basehead.astro";
import Header from "@/components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Basehead title={title} />
  </head>
  <body class="font-arimo">
    <body>
      <!-- Include the script that builds the page and powers Decap CMS -->
      <!-- <script
        is:inline
        src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
      <script
        is:inline
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      ></script> -->
    </body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<!-- <style>
  body {
    font-family: "Arimo Variable", sans-serif;
  }
</style> -->
<!-- <style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style> -->
